                        <div class="form-group ">
                            <label class="control-label " for="vaccine">
                                Vaccine body site of administration
                            </label>
                            <select class="select form-control" id="bodysite" name="bodysite">
                                <option value="rightupperarm">
                                    Right upper arm structure
                                </option>
                                <option value="leftupperarm">
                                    Left upper arm structure
                                </option>
                                <option value="leftthigh">
                                    Structure of left thigh
                                </option>
                                <option value="rightthigh">
                                    Structure of right thigh
                                </option>
                                <option value="nasalcavity">
                                    Nasal cavity structure
                                </option>
                                <option value="leftbuttock">
                                    Structure of left buttock
                                </option>
                                <option value="rightbuttock">
                                    Structure of right buttock
                                </option>
                                <option value="oralcavity">
                                    Oral cavity structure
                                </option>
                            </select>
                        </div>










