<!doctype html>
<html lang="en">
 <head>
   <title>EJS demo app</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
   <!-- link rel="stylesheet" type="text/css" href="/app.css"> -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>
<body>

  <div class="b-example-divider"></div>

  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
		  <li><a href="/post" class="nav-link px-2 text-white">POST (create)</a></li>
		  <li><a href="/get" class="nav-link px-2 text-white">GET</a></li>
		  <li><a href="/delete" class="nav-link px-2 text-white">DELETE</a></li>
        </ul>

      </div>
    </div>
  </header>

  <div class="b-example-divider"></div>


