<!DOCTYPE html>
<html>
 <head>
   <title>EJS demo app</title>
   <link rel="stylesheet" type="text/css" href="/app.css">
 </head>
<body>
<p>Click the following links
<li><a href="/">Back to the home page</a></li>
<li><a href="/post">POST (create) a vacc</a></li>
<li><a href="/get">GET a vacc</a></li>