<!doctype html>
<html lang="en">
 <head>
   <title>EJS demo app</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
   <!-- link rel="stylesheet" type="text/css" href="/app.css"> -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>
<body>

  <div class="b-example-divider"></div>

<!--  For other bootstrap colours see https://getbootstrap.com/docs/4.1/utilities/colors/ -->
  <header class="p-3 bg-primary text-white">
    <div class="container-fluid">
      <div class="d-flex flex-row-reverse">
        <a href="/" class="d-flex align-items-end mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

<%if (locals.username) { %>
  <P>User: <%- username %></P>
<% } %>

      </div>
    </div>
    <div class="container-fluid">
      <div class="d-flex flex-row-reverse">
        <a href="/" class="d-flex align-items-end mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

<% if (authenticated) { %>
<P>
<form action="/logout" method="post" id="myForm2">
  <button type="submit" class="btn btn-primary">Logout</button>
</form>
<% } else { %>
  <a type="button" class="btn btn-primary" href="/login">Login</a>
<% } %>

      </div>
    </div>
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <% if (authenticated) { %>
            <li><a href="/"        class="nav-link px-2 text-white">Home</a></li>
            <li><a href="/patient" class="nav-link px-2 text-white">View patient (GET)</a></li>
            <li><a href="/post"    class="nav-link px-2 text-white">Create vaccination event (POST)</a></li>
            <li><a href="/get"     class="nav-link px-2 text-white">View (GET) & Update (PUT) vaccination event</a></li>
            <li><a href="/delete"  class="nav-link px-2 text-white">Delete vaccination event</a></li>
            <li><a href="/history" class="nav-link px-2 text-white">View vaccination history (GET)</a></li>
          <%}%>
        </ul>

      </div>
    </div>
  </header>

  <div class="b-example-divider"></div>

<!--
<form action="/login" method="get" id="myForm1">
    <button type="submit" class="btn btn-sm btn-info" name="something1"><i class="fa fa-check"></i>Login</button>
</form>

<form action="/logout" method="post" id="myForm2">
    <button type="submit" class="btn btn-sm btn-info" name="something2"><i class="fa fa-check"></i>Logout</button>
</form>
-->
