                        <div class="form-group ">
                            <label class="control-label " for="reason">
                                Reason for vaccination
                            </label>
                            <select class="select form-control" id="reason" name="reason">
                                <option value="diseaseoutbreak">
                                    Disease Outbreak
                                </option>
                                <option value="pregnant">
                                    Pregnant
                                </option>
                                <option value="chocolate">
                                    Milk Chocolate
                                </option>
                            </select>
                        </div>