                        <div class="form-group ">
                            <label class="control-label " for="vaccine">
                                Vaccine Product
                            </label>
                            <select class="select form-control" id="vaccine" name="vaccine">
                                <option value="infanrixhexa">
                                    GlaxoSmithKline Infanrix Hexa
                                </option>
                                <option value="vaxelis">
                                    Sanofi Vaxelis
                                </option>
                                <option value="boostrixipv">
                                    GlaxoSmithKline Boostrix-IPV
                                </option>
                                <option value="revaxis">
                                    Sanofi Pasteur Revaxis
                                </option>
                                <option value="comirnaty30">
                                    Pfizer Comirnaty 30
                                </option>
                                <option value="comirnaty10">
                                    Pfizer Comirnaty 10 (Children 5-11 yr)
                                </option>
                                <option value="comirnaty0O">
                                    Pfizer Comirnaty Bivalent Original/Omicron
                                </option>
                                <option value="spikevax">
                                    Moderna Spikevax
                                </option>
                                <option value="modernabspikevax0O">
                                    Moderna Bivalent Spikevax 0 (Zero)/O (Omicron)
                                </option>
                                <option value="vaxzevria">
                                    AstraZeneca Vaxzevria
                                </option>
                                <option value="gardasil">
                                    Gardasil (HPV)
                                </option>
                            </select>
                        </div>