                        <div class="form-group ">
                            <label class="control-label " for="vaccprocedure">
                                Vaccination Procedure
                            </label>
                            <select class="select form-control" id="vaccprocedure" name="vaccprocedure">
                                <option value="polioboostercampaign">
                                    Polio Booster (campaign)
                                </option>
                                <option value="covdose1">
                                    Covid Vaccination Dose 1
                                </option>
                                <option value="covdose2">
                                    Covid Vaccination Dose 2
                                </option>
                                <option value="covbooster">
                                    Covid Vaccination Booster
                                </option>
                                <option value="hpvdose">
                                    HPV Vaccination Dose
                                </option>
                            </select>
                        </div>