<%- include('partials/header'); -%>

<H2>DELETE an existing vaccination record</H2>

<form action="/deletevacc" method="DELETE">
  <input type="text" name="immunizationid">
  <label for="immunizationid">Immunization</label><br><br>
  <button class="btn btn-info">Delete vaccination</button>
</form>

<%- include('partials/footer'); -%>