<%- include('partials/header'); -%>

<H2>GET an existing vaccination record</H2>

<form action="/getvacc" method="GET">
  <input type="text" name="immunizationid">
  <label for="immunizationid">Immunization</label><br><br>
  <button class="btn btn-info">Get vaccination</button>
</form>

<%- include('partials/footer'); -%>