<%- include('partials/header'); -%>

<H2>POST (Create) a new vaccination record</H2>

<form action="/postvacc" method="POST">
  <label for="nhsnumber">NHS Number</label><br>
  <input type="text" name="nhsnumber" placeholder="9297864864"><br><br>

  <input type="radio" id="dose1" name="vaccprocedure" value="dose1" checked="checked">
  <label for="dose1">Covid vaccination dose 1 (procedure)</label>
  <input type="radio" id="dose2" name="vaccprocedure" value="dose2"">
  <label for="dose2">Covid vaccination dose 2 (procedure)</label><br><br>

  <input type="radio" id="pfizer" name="vaccine" value="pfizer" checked="checked">
  <label for="pfizer">Pfizer</label>
  <input type="radio" id="astrazeneca" name="vaccine" value="astrazeneca">
  <label for="astrazeneca">Astrazeneca</label>
  <input type="radio" id="moderna" name="vaccine" value="moderna">
  <label for="moderna">Moderna</label><br><br>

  <button class="btn btn-info">Publish a vacc</button>
</form>

<%- include('partials/footer'); -%>