<%- include('partials/header'); -%>

<H2>POST (Create) a new vaccination record</H2>
<!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" /> 

<!--Font Awesome (added because you use icons in your prepend/append)-->
<link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />

<!-- Inline CSS based on choices in "Settings" tab -->
<style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}</style>

<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
<div class="bootstrap-iso">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">
    <form action="/postvacc" method="post">
     <div class="form-group ">
      <label class="control-label requiredField" for="pocidentifier">
       POC identifier
       <span class="asteriskField">
        *
       </span>
      </label>
      <div class="input-group">
       <div class="input-group-addon">
        <i class="fa fa-user-md">
        </i>
       </div>
       <input class="form-control" id="pocidentifier" name="pocidentifier" placeholder="12341234" type="text"/>
      </div>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="nhsnumber">
       NHS Number
       <span class="asteriskField">
        *
       </span>
      </label>
      <div class="input-group">
       <div class="input-group-addon">
        <i class="fa fa-user-md">
        </i>
       </div>
       <input class="form-control" id="nhsnumber" name="nhsnumber" placeholder="9297864864" type="text"/>
      </div>
     </div>
     <div class="form-group ">
      <label class="control-label " for="vaccprocedure">
       Vaccination Procedure
      </label>
      <select class="select form-control" id="vaccprocedure" name="vaccprocedure">
       <option value="covdose1">
        Covid Vaccination Dose 1
       </option>
       <option value="covdose2">
        Covid Vaccination Dose 2
       </option>
       <option value="hpvdose">
        HPV Vaccination Dose
       </option>
      </select>
     </div>
     <div class="form-group ">
      <label class="control-label " for="vaccine">
       Vaccine Product
      </label>
      <select class="select form-control" id="vaccine" name="vaccine">
       <option value="pfizer">
        Pfizer
       </option>
       <option value="astrazeneca">
        AstraZeneca
       </option>
       <option value="moderna">
        Moderna
       </option>
       <option value="gardasil">
        Gardasil (HPV)
       </option>
      </select>
     </div>
     <div class="form-group ">
      <label class="control-label " for="date">
       Date of vaccination
      </label>
      <div class="input-group">
       <div class="input-group-addon">
        <i class="fa fa-calendar-check-o">
        </i>
       </div>
       <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>
      </div>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="batchnumber">
       Batch number
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="batchnumber" name="batchnumber" type="text"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="expirydate">
       Expiry date of vaccine product
      </label>
      <div class="input-group">
       <div class="input-group-addon">
        <i class="fa fa-calendar-check-o">
        </i>
       </div>
       <input class="form-control" id="expirydate" name="expirydate" placeholder="MM/DD/YYYY" type="text"/>
      </div>
     </div>
     <div class="form-group">
      <div>
       <button class="btn btn-info" name="submit" type="submit">
        Create vaccination record
       </button>
      </div>
     </div>
    </form>
   </div>
  </div>
 </div>
</div>


<!-- Extra JavaScript/CSS added manually in "Settings" tab -->
<!-- Include jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

<script>
    $(document).ready(function(){
        var date_input=$('input[name="date"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'yyyy-mm-dd',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
</script>

<script>
    $(document).ready(function(){
        var date_input=$('input[name="expirydate"]'); //our date input has the name "expirydate"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'yyyy-mm-dd',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
</script>

<%- include('partials/footer'); -%>